/*Ben Miller
 *V00928738
 *2020/02/28
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    padding: 0;
}

#myVideo {
    position: absolute;
    right: 0;
    top: 0;
    height: 15%;
    width: 100%;
    size: contain;
    
}


.socials {
    position: fixed;
    top: 10px;
    height: 100px;
    color: black;
    width: 10%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 1.5%;
    transition: 1.3s;
    text-align: center;
    z-index: 11;
   
}

.navButton {
    position: fixed;
    top: 42px;
    color: #525c63;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    cursor: pointer;
    left: 1.5%;
    z-index: 5;
    transition: 0.9s;
}



.page_indicator {
    position: fixed;
    top: 48px;
    color: darkslategray;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: inline-block;

    margin-left: 85px;
    font-size: 20px;
    transition: 0.9s;
    font-family: 'Raleway';
    
}


.topbar, .midbar, .botbar {
    width: 35px;
    height: 5px;
    background-color: #525c63;
    margin: 3px 2px;
    transition: 0.4s;

}

.change .topbar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: 0.6s;

}

.change .midbar {
    opacity: 0;
    transition: 0.6s;
}

.change .botbar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -7px);
    transition: 0.6s;
}

.centered {

width: 50%;
  margin: 0 auto;

}



.header {
    font-family: 'Raleway', cursive;
    font-size: 18px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 120px;
    width: 100%;
    color: #525c63;
    padding: 20px;
    text-align: center;
    transition: 1.3s;
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
    border-bottom: 6px solid lightgray;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#r_p {
    margin-top: 10px;
    transition:visibility 1s, opacity 1s;
}

#name {
    margin: 0;
    padding: 0;
    height: 35px;
    color: #525c63;
}

#header_title:hover {
    color: #8c0000;
}


.header a {
    color: darkslategray;
    text-decoration: none;
}

.fa {
    font-size: 20px;
    width: 36px;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    padding: 10px;
    
    border-radius: 20%;
}

.calendly-inline-widget {
    display: inline-block;
    left: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 5%;
}

.center_calendar {
}

#book_appointment {
    text-align: center;
}

.fa:hover {
    color: #8c0000;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin {
    /*background: #3B5998;*/
    color: #525c63
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(250,250,250, 1);
    overflow-y: hidden;
    transition: 0.5s;
    text-align: center;
    font-size: 20px;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Raleway', cursive;
    text-align: left;
    font-size: 18px;
    margin-left: 3%;
    transition: 0.5s;

}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: #818181;
    display: block;
    transition: 0.2s;
    white-space: nowrap;
}

 .overlay span {
    transition: 0.3s;
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: #818181;
    display: block;
    transition: 0.2s;
    white-space: nowrap;
}

.overlay span:hover {
    cursor: pointer;
    transition: 0.2s;

}

.overlay span::after {
    transition: 0.3s;
}

.overlay span:hover:after {
    transition: 0.2s;
    content: '\00a0 \00bb';
    color: maroon;
    transition: 0.2s;
    white-space: pre;
    transition: all 3s;
}

.overlay a:hover {
    transition: 0.2s;

}

.overlay a::after {
    transition: 0.3s;
}

.overlay a:hover:after {
    transition: 0.2s;
    content: '\00a0 \00bb';
    color: maroon;
    transition: 0.2s;
    white-space: pre;
    transition: all 3s;
}

.overlaySocials {
    display: none;
}

p {
    font-size: 50px;
}


/*
@media screen and (max-height: 500px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
    
    .topbar, .midbar, .botbar {
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        margin-top: 0px;
        padding-top: 0px;
        transition: 0.4s;
    }
    
    .navButton {
        position: fixed;
        top: 0;
        color: white;
        margin-top: 0.5%;
        width: 3%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: inline-block;

        cursor: pointer;
    }
}
*/


.socials #socialmedia {

}



.main {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    display: block;
    text-align: center;
    width: 100%;
    height: 70%;
    top: 10%;
    position: absolute;
    color: white;
    overflow-y: visible;
    text-align: center;

}



th, td, tr {

    width: 30%;

}

hr {
    border: 4px dashed white;
    width: 60%;
}

#leftColTop {
    background-color: RGBA(127, 91, 115,0.8);
    color: white;
    width 10%;
    font-size: 24px;
    border-right: 3px solid clear;
    padding: 5px 10px 10px 10px;
}

#leftColHeader {
    /*background-color: RGBA(237, 45, 119, 0.3);*/
    background-color: RGBA(127, 91, 115, 0.8);
    color: #67BAA7;
    width 10%;
    font-size: 34px;
    border-right: 3px solid clear;
    padding: 20px 10px 0px 10px;
}

#rightColTop {
    /*background-color: RGBA(237, 45, 119, 0.8);*/
    background-color: rgba(25, 109, 149, 0.8);
    width: 50%;
    font-size: 24px;
    padding: 5px 10px 10px 10px;
    
}

#rightColTop h3 {
    color: #67BAA7;
}

#leftColBot {
    background-color: RGBA(193, 136, 173, 0.8);
    width 10%;
    font-size: 24px;
    padding: 10px;
    border-right: 3px solid clear;
}

#rightColBot {
    background-color: rgba(240,211,255,0.8);
    
    width: 50%;
    font-size: 24px;
    padding: 10px;
}

#rightColBotContent {
    background-color: rgba(240,211,255,0.8);
    table-layout: fixed;
    width 50%;
    font-size: 18px;
    padding: 10px;
    border-right: 3px solid clear;
    text-align: left;
}

#rightColBotHead {
    /*background-color: rgba(240,211,255,0.8);*/
    /*background-color: rgba(88, 117, 160,0.8);*/
    
    background-color: rgba(88, 117, 160, 0.8);
    width: 50%;
    font-size: 24px;
    padding: 15px;
    text-align: left;
}

#rightColBotHead h3 {
    color: #67BAA7;
}

#leftColBotHead {
    /*background-color: RGBA(193, 136, 173, 0.8);*/
    background-color: rgba(116, 102, 141, 0.8);
    width 10%;
    font-size: 24px;
    padding: 15px;
    border-right: 3px solid clear;
    text-align: left;
}

#leftColBotHead h3 {
    color: #67BAA7;
}

#leftColBotContent {
    background-color: RGBA(193, 136, 173, 0.8);
    width 10%;
    font-size: 18px;
    padding: 10px;
    border-right: 3px solid clear;
    text-align: left;
}

li {
    padding: 5px;
    font-size: 26px;
    color: black;
}



#leftColBotDesc {
    background-color: RGBA(193, 136, 173,0.8);
    width 10%;
    font-size: 56px;
    padding: 10px;
    border-right: 3px solid clear;
    text-align: left;
}

#tableTitle {
    font-size: 100px;
}


table.center {
    margin-left: auto;
    margin-right: auto;
}

#student {
    font-size: 20px;
    color: white;
}

iframe {
    margin: 10px;
}

.aboutHeader {
    margin: 3%;
}

.loves {
    background-color: RGBA(191, 25, 58, 0.6);
    border: 2px solid white;
}

.likes {
    background-color: white;
    border: 1px solid white;
    font-size: 40px;
    text-align: left;
    /*box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    width: 100%;
}


.calendar_header {
    background-color: #2F4858;
    border: 2px solid white;
    font-size: 20px;
    text-align: left;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
}

.likes p {
    font-size: 25px;
    color: darkslategray;
}

.likes h3 {
    font-size: 40px;
    margin: 2%;
}

#intro {
    width: 87%;
    font-size: 25px;
}

.bolded {
    font-weight: bold;
    line-height: 70px;
}

.dislikes {
    background-color: RGBA(56,82,224,0.6);

    border: 2px solid white;
}

.loves img {
    overflow-x: hidden;
    width: 70%;
    height: auto;
    border: 14px solid white;
}

.dislikes img {
     overflow-x: hidden;
    width: 70%;
    height: auto;
    border: 14px solid white;
}



#orange {
    color: orange !important;
}

#recipeHeader {
    text-align: left;
    font-size: 28px;
}


.paragraph_content {
    font-family: 'Raleway';
    font-size: 6px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    line-height: 1.5;
}

.paragraph_content h1 {
    color: darkslategrey;
    font-family: 'Raleway';
    font-size: 27px;
    font-weight: 600;
}

.paragraph_content p {
    font-family: 'Raleway';
}

#kevin_introduction {
    position: absolute;
    right: 4%;
    width: 10%;
    margin: 0;
    border: none;
    border-radius: 50%;
    border: 2px solid darkslategray;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    /*box-shadow: 0 2px 3px 0 rgba(176, 14, 14, 0.9), 0 2px 3px 0 rgba(176, 14, 14, 0.9);*/

}

.contact_content {
    font-family: 'Raleway';
    font-size: 6px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    line-height: 1.5;
}

#book_button_image {
    position: fixed;
    width: 200px;

    top: 3%;
    right: 300px;
    transition: 0.9s;
}

#book_button_image:hover {
    cursor: pointer;
    transition: 0.3s;
}

.fourthDiv {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top_picture {
    border: 1px solid white;
    border-bottom: 2px solid white;
    min-height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0s linear;
    background-position: 220% 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sand {
    background-image: url(Media/sand.jpeg);
}

#sun2 {
    background-image: url(Media/sun2.jpeg);
}

#sunocean {
    background-image: url(Media/sunocean.jpeg);
}

#trees_river {
    background-image: url(Media/trees_river.jpg);
    background-position: 60%;
}

#backlit_beach {
    background-image: url(Media/backlit_beach.jpg);
}

#tree {
    background-image: url(Media/tree.jpeg);
}

#snowywater {
    background-image: url(Media/snowywater.jpg);
}

#pinktree {
    background-image: url(Media/pinktree.jpg);
}

#lonetree {
    background-image: url(Media/lonetree.jpeg);
    background-position: top;
}

#pink_tree {
    background-image: url(Media/pink_tree.jpg);

}

#tall_lake {
    background-image: url(Media/tall_lake.jpg);
    background-position: 110%;
}

#tree_lake {
    background-image: url(Media/tree_lake.jpg);
}
#gray_rocks {
    background-image: url(Media/gray_rocks.jpg);
}

#swamp {
    background-image: url(Media/swamp.jpg);
}

#tatiana {
    background-image: url(Media/pexels-tatiana-234272.jpg);
}

#gabriela {
    background-image: url(Media/pexels-gabriela-palai-395198.jpg);
}

#bird_trees {
    background-image: url(Media/bird_trees.jpg);
}

#bridge {
    background-image: url(Media/bridge.jpg);
    background-position: top;
}

#bench {
    background-image: url(Media/bench.jpg);
    background-position: bottom;
}

#grasssand {
    background-image: url(Media/pexels-krivec-ales-580151.jpg);
}

#silhouette {
    background-image: url(Media/silhouette.jpg);
}

#footer {
    background-image: url(Media/footer.jpg);
    background-position: bottom;
}

.list {
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid #414345;

}

.list ul {
    
}


.list li {
    font-size: 20px;
    color: #414345;
}

.sub_list {

}

.italicized {
    font-style: italic;
}


.workshop_item {
    color: black;
    font-size: 20px;
    line-height: 
}

.workshop_item p {
    margin: 2px;
}

.bold {
    font-weight: 300;
}

.workshop_item_title {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: -10px;
}

.workshop_item_title:hover{
    color: maroon;
}

.no_bullet {
    list-style-type: none;
}

#fifthDiv {
      background-image: url("Media/African%20lake.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#list_of_applications {
    margin-left: 5%;
}

#paypal_button {
    float: right;
    margin-top: 10px;
    margin-right: 200px;
    text-align: center;
}

.footer {
   text-align: center;
    font-size: 40px;
    text-align: left;
    width: 100%;
    margin:0 !important;
    border-top: 3px solid darkgray;
}

.footer_pictures {
    text-align: center;

}

.footer_pictures img {
    text-align: center;
    height: 150px;
    padding: 15px;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
}

#form {
    color: black;
}

.services_list {
    margin-bottom: 30px;
}

#black {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    transition: 0.5s;
    display: none;
}

#black:hover {
    cursor: pointer;
}

#button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkslategray;
    border: none;
    border-radius: 6px;
    box-shadow: 0 6px 2px rgba(148,148,148,0.7);
    position: fixed;
    right: 3%;
    top: 36px;
    transition: 0.9s;
    font-family: 'Raleway';
    background-color: #414345;
}

#button:hover {
    background-color: #a80c0c;
}

#button:active {
    background-color: firebrick;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#dropsideE_content {
    transition: 0.3s;
}

#dropsideE_content {
    display: none;
}

.dropsideE:click .dropsideE_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

#dropsideE_content2 {
    transition: 0.3s;
}

#dropsideE_content2 {
    display: none;
}

.dropsideE2:click .dropsideE_content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}



.red_bullet {
    white-space: nowrap;
    color: maroon;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
    font-size: 20px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.calendar_logo {
    float: left;
    height: 22px;
    margin-top: 3px;
    margin-right: 20px;
}

.paragraph_content_calendar {
    font-family: 'Raleway';
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 250px;
    margin-bottom: 3%;
    line-height: 1.5;
    text-align: center;
    
}

.boldened {
    font-weight: 800;
}

#sub_menu {
    font-size: 20px;
    margin-left: 30px;
}

.learn_more {
    margin: 2px 2px 22px 0px;
    font-weight: 600;
    font-family: 'Raleway';
    margin-bottom: 5px;
}

#currentPage {
    color: maroon;
}

.sub_content_for_panel {
    margin-left: 50px;
}

.sub_sub_content_for_panel {
    margin-left: 50px;
    color: darkslategrey;
    font-size: 25px;
}

@media (orientation: portrait){
    
    
    
    .socials {
        display: none;
    }
    
    #button {
        padding: 13px 20px;
        font-size: 25px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: darkslategray;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        position: fixed;
        right: 3%;
        top: 60px;
        transition: 0.9s;
        max-width: 160px;
    }
    
    .header {
        height: 200px;
    }
    
    .main {
        top: 0;
    }
    
    #r_p {
        margin-top: 25px;
        transition:visibility 1s, opacity 1s;
        font-size: 32px;
    }

    #name {
        margin: 0;
        margin-top: 30px;
        padding: 0;
        height: 35px;
        font-size: 36px;
    }
    
    .topbar, .midbar, .botbar {
        width: 75px;
        height: 13px;
        background-color: darkslategray;
        margin: 5px 3px;
        transition: 0.4s;

    }
    
    .navButton {
        position: fixed;
        top: 65px;
        color: black;
        width: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: center;
        cursor: pointer;
        left: 4%;
        z-index: 5;
        transition: 0.9s;
    }
    
    .page_indicator {
        display: none;
    }
    
    
    #intro {
        width: 100%;
        font-size: 40px;
      
        
    }
    
    #kevin_introduction {
        
        
    width: 32%;
    margin: 0;
        top: 36%;

    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);

    }
    
    .likes p {
        font-size: 40px;
        color: darkslategray;
    }
    
    .fourthDiv {
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        min-height: 800px;
        position: relative;
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .top_picture {
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        min-height: 60%;
        position: relative;
        background-attachment: fixed;
        background-position: -1200px -550px;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .footer_pictures img {
        
        height: 200px;
        padding: 15px;
        background-color: white;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .footer {
        border-top: 5px solid darkslategray;
    }
    
    .overlay a {
        padding-top: 30px;
        padding-bottom: 30px;
        text-decoration: none;
        font-size: 52px;
        color: #818181;
        display: block;
        transition: 0.2s;
        white-space: nowrap;
    }
    
    .overlay span {
        padding-top: 30px;
        padding-bottom: 30px;
        text-decoration: none;
        font-size: 52px;
        color: #818181;
        display: block;
        transition: 0.2s;
        white-space: nowrap;
    }
    
    

    .change .topbar {
        -webkit-transform: rotate(-45deg) translate(-16px, 18px);
        transform: rotate(-45deg) translate(-16px, 18px);
        transition: 0.6s;

    }

    .change .midbar {
        opacity: 0;
        transition: 0.6s;
    }

    .change .botbar {
        -webkit-transform: rotate(45deg) translate(-15px, -16px);
        transform: rotate(45deg) translate(-15px, -16px);
        transition: 0.6s;
    }
    
    .overlay-content {
        position: relative;
        top: 15%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        font-family: 'Raleway', cursive;
        text-align: left;
        font-size: 18px;
        margin-left: 3%;
        transition: 0.5s;

    }
    
    .calendly-inline-widget {
        display: inline-block;
        left: 0;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 12%;
    }
    
     .list {
        margin-left: 5%;
        margin-right: 5%;
        border: 2px solid #414345;

    }

    .list ul {

    }



    .list li {
        font-size: 35px;
        color: #414345;
    }
    
    #sub_menu {
        font-size: 40px;
        margin-left: 50px;
    }
    
    .paragraph_content h1 {
        color: darkslategrey;
        font-family: 'Raleway';
        font-size: 44px;
        font-weight: 600;
    }
    
    .learn_more {
        margin: 2px 2px 22px 0px;
        font-weight: 300;
        font-size: 35px;
        font-family: 'Raleway';
        margin-bottom: 5px;
    }
    
    .contact_content {
        font-family: 'Raleway';
        font-size: 6px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 250px;
        margin-bottom: 3%;
        line-height: 1.5;
    }
    
    #currentPage {
        color: maroon;
    }
    
    /*
    .paragraph_content {
    font-family: 'Raleway';
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.5;
}

#kevin_introduction {
    position: absolute;
    left: 4%;
    width: 30%;
    margin: 0;
    border: none;
    border-radius: 50%;
    border: 2px solid darkslategray;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    box-shadow: 0 2px 3px 0 rgba(176, 14, 14, 0.9), 0 2px 3px 0 rgba(176, 14, 14, 0.9);

}
    
    
    
     Old */
    /*
    .fa {
        width: 40px;
        font-size: 7px;
        padding-left: 10px;
        margin: 2px;
        padding-top: 16px;
        height: 50px;
    }
    
    .header {
        font-family: 'Abel', cursive;
        font-size: 60px;
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        height: 12%;
        width: 100%;
        color: #f1f1f1;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 1.3s;

    }
    
    .navButton {
        position: fixed;
        top: 0;
        color: white;
        margin-top: 0.8%;
        width: 90px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: inline-block;

        cursor: pointer;
}

    .topbar, .midbar, .botbar {
        width: 55px;
        height: 10px;
        background-color: white;
        margin: 9px 0;
        transition: 0.4s;
    }

    .change .topbar {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-15px, 6px);
    }

    .change .midbar {
        opacity: 0;
    }

    .change .botbar {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-20px, -10px);
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 80px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .socials {
        display: none;
    }
    
    .overlaySocials {
        text-align: center;
        bottom: 0;
        color: #f1f1f1;
        width: 100%;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1.3s;
        text-align: center;

    }
    
    .fa {
        font-size: 90px;
        width: 100px;
        height: 100px;
        text-align: center;
        text-decoration: none;
        margin: 20px;
        padding: 200px;
        border-radius: 20%;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    
    p {
        font-size: 110px;
    }
    
    #table1 {
        color: white;
        text-align: center;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 3px solid clear;
        table-layout: fixed;
        width: 100%;
        height: 30%;
        font-size: 30px;
        margin-top: 10%;
        border-collapse: collapse;
    }

    #table2 {
        color: white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        table-layout: fixed;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin-bottom: 10%;
    }


    th, td, tr {

        width: 30%;

    }

    #leftColBotContent {
        background-color: RGBA(193, 136, 173, 0.8);
        width 30%;
        font-size: 28px;
        padding: 10px;
        border-right: 3px solid clear;
        text-align: left;
    }
  
    #rightColBotContent {
        background-color: rgba(240,211,255,0.8);
        width 70%;
        font-size: 28px;
        padding: 10px;
        border-right: 3px solid clear;
        text-align: left;
    }
    

   #rightColTop {
        background-color: RGBA(237, 45, 119, 0.8);
        background-color: rgba(25, 109, 149, 0.8);
        width: 70%;
        font-size: 24px;
        padding: 5px 10px 10px 10px;
    }
    
    #leftColHeader {
        background-color: RGBA(237, 45, 119, 0.3);
        background-color: RGBA(127, 91, 115, 0.8);
        color: #67BAA7;
        width 30%;
        font-size: 34px;
        border-right: 3px solid clear;
        padding: 20px 10px 0px 10px;
    }
    
    #student {
        font-size: 20px;
        color: white;
    }
    
    #leftColTop {
        background-color: RGBA(127, 91, 115,0.8);
        color: white;
        width 30%;
        font-size: 18px;
        border-right: 3px solid clear;
        padding: 5px 10px 10px 10px;
    }
    
   #rightColBotHead {
        background-color: rgba(240,211,255,0.8);
        background-color: rgba(88, 117, 160,0.8);

        background-color: rgba(88, 117, 160, 0.8);
        width: 70%;
        font-size: 20px;
        padding: 15px;
        text-align: left;
    }

    #leftColBotHead {
        background-color: RGBA(193, 136, 173, 0.8);
        background-color: rgba(116, 102, 141, 0.8);
        width 30%;
        font-size: 20px;
        padding: 15px;
        border-right: 3px solid clear;
        text-align: left;
    }
    
    #leftColBotHead li {
        font-size: 22px;
    }
    
    .altered li{
        font-size: 60px;
    }
    
    .altered #recipeHeader {
        font-size: 60px;
    }
    
    .aboutHeader {
        font-size: 40px;
    }
    
    .loves img {
        overflow-x: hidden;
        width: 85%;
        height: auto;
        border: 14px solid white;
    }

.dislikes img {
        overflow-x: hidden;
        width: 85%;
        height: auto;
        border: 14px solid white;
    }

.likes img {
        overflow-x: hidden;
        width: 85%;
        height: auto;
        border: 14px solid white;
    }
    
    */

}


